<h1 class="center">Accessories</h1>

{{#each accessories as |accessory|}}
        {{#if accessory.images}}
        <img src={{accessory.images}} alt="accessories-image" class="accessories-image"></img>
        {{else}}
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/340719-200.png" alt="accessories-image" class="accessories-image"></img>
        {{/if}}
        <a href="/closet/accessories/{{accessory.name}}">{{accessory.name}}</a>
{{/each}}

<div class=row>
        <a href="/add-accessories">
        <button class="btn waves-effect waves-light col s6 offset-s3 m4 offset-m4 l4 offset-l4 black" type="submit" name="action">Add Accessories
        <i class="material-icons right">send</i>
        </button>
        </a>
</div>
