<div class="#">
    <h1 class="center">Add A New Shirt</h1>

    <form action="/add-shirts" method="post" class="new-shirts-form">
        <input type="text" name="shirts[name]" placeholder="Name " required/>
        <input type="text" name="shirts[category]" Value="Shirt" />
        <input type="text" name="shirts[color]" placeholder="Color" required/>
        <input type="text" name="shirts[images]" placeholder="Image URL" required/>
        <input type="text" name="shirts[tags]" placeholder="Tags" />
        {{!-- <input type="submit" value="Add An Accessory" class="submit-button" /> --}}
    <div class=row>
        <button class="btn waves-effect waves-light col s12 black" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
        </button>
    </div>
    </form>
</div>
