<div class="#">
    <h1>Add a new item</h1>

    <form action="/add-accessories" method="post" class="new-accessories-form">
        <input type="text" name="accessories[name]" placeholder="Name " />
        <input type="text" name="accessories[category]" placeholder="Category" />
        <input type="text" name="accessories[color]" placeholder="Color" />
        <input type="text" name="accessories[images]" placeholder="Image URL" />
        <input type="text" name="accessories[tags]" placeholder="Tags" />
        <input type="submit" value="Add An Accessory" class="submit-button center" />
    </form>
</div>
