<div class="#">
    <h1 class="center">Update {{ pant.name }}</h1>

    <form action="/closet/pants/{{pant.name}}?_method=put" method="post" class="update-pants-form">
        <input type="text" name="pants[name]" placeholder="Name " required/>
        <input type="text" name="pants[category]" Value="Pants" />
        <input type="text" name="pants[color]" placeholder="Color" required/>
        <input type="text" name="pants[images]" placeholder="Image URL" required/>
        <input type="text" name="pants[tags]" placeholder="Tags" />
        {{!-- <input type="submit" value="Add An Accessory" class="submit-button" /> --}}
    <div class=row>
        <button class="btn waves-effect waves-light col s12 black" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
        </button>
    </div>
    </form>
    <form action="/closet/pants/{{pant.name}}?_method=delete" method="post">
        <button class="btn waves-effect waves-light col s12 black" type="submit" name="action">Delete</button>
    </form>
</div>
