<div class="#">
    <h1 class="center">Update {{ accessory.name }}</h1>

    <form action="/closet/accessories/{{accessory.name}}?_method=put" method="post" class="update-accessories-form">
        <input type="text" name="accessories[name]" placeholder="Name " required/>
        <input type="text" name="accessories[category]" Value="Accessory" />
        <input type="text" name="accessories[color]" placeholder="Color" required/>
        <input type="text" name="accessories[images]" placeholder="Image URL" required/>
        <input type="text" name="accessories[tags]" placeholder="Tags" />
        {{!-- <input type="submit" value="Add An Accessory" class="submit-button" /> --}}
    <div class=row>
        <button class="btn waves-effect waves-light col s12 black" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
        </button>
    </div>
    </form>
    <div class=row>
    <form action="/closet/accessories/{{accessory.name}}?_method=delete" method="post">
        <button class="btn waves-effect waves-light col s12 black" type="submit" name="action">Delete</button>
    </form>
    </div>
</div>
