<h1 class="center">Style Board</h1>

<div class="s12">
    <img src="http://images.jordansdaily.com/wp-content/uploads/2016/06/air-jordan-3-black-cement-3.png" class="main-image responsive-img" />
</div>  
